<link rel="import" href="../../bower_components/polymer/polymer-element.html">


<dom-module id="flow-item">
  <template>
    <style>
/*      .flow_layout_item {
        box-sizing: border-box;
        -webkit-column-break-inside: avoid;
           page-break-inside: avoid;
                break-inside: avoid;
        padding: 10px;
        counter-increment: item-counter;

        border: 1px solid red ;
      }*/
    </style>
    <slot></slot>

  </template>
</dom-module> 
<script>
class FlowItem extends Polymer.Element{
  static get is() { return 'flow-item'; }
  static get properties() {
  }

  constructor() {
    super();
  }

}
customElements.define(FlowItem.is, FlowItem);
</script>